body{
	background-image: url(fondoparcial2.jpg)
}
.t{
	position: absolute;
	top: 5%;
	font-size: 760%;
	font-family: titulo4;
	left: 38.5%;
	z-index: 2;
	color: #D7BDE2;
}

.tt{
	position: absolute;
	top: 9%;
	font-size: 460%;
	font-family: titulo5;
	left: 44%;
	z-index: 2;
	color: #000000;
}

.img1{
	position: absolute;
	top: 25%;
	width: 45%;
	height: 68%;
	left: 3%;
	background-color: #ffffff;
	border-style: double;
	color: #D7BDE2;
	border-width: 10px;
}
.img2{
	position: absolute;
	top: 99%;
	width: 45%;
	height: 68%;
	left: 3%;
	background-color: #ffffff;
	border-style: double;
	color: #A2EDFA;
	border-width: 10px;
}
.img3{
	position: absolute;
	top: 173%;
	width: 45%;
	height: 68%;
	left: 3%;
	background-color: #ffffff;
	border-style: double;
	color: #C1FAA2;
	border-width: 10px;
}
.img4{
	position: absolute;
	top: 246%;
	width: 45%;
	height: 68%;
	left: 3%;
	background-color: #ffffff;
	border-style: double;
	color: #FADEA2;
	border-width: 10px;
}

.img5{
	position: absolute;
	top: 319%;
	width: 45%;
	height: 68%;
	left: 3%;
	background-color: #ffffff;
	border-style: double;
	color: #E9A2FA ;
	border-width: 10px;
}
.video{
	position: absolute;
	top: 319%;
	width: 45%;
	height: 68%;
	left: 52%;
}

.img6{
	position: absolute;
	top: 393%;
	width: 45%;
	height: 68%;
	left:  27%;
	background-color: #ffffff;
	border-style: double;
	color: #FAA2A2;
	border-width: 10px;
}
@font-face{
	font-family: titulo5;
	src: url(titulo5.otf);
} 

@font-face{
	font-family: titulo4;
	src: url(titulo4.ttf);
}
